<nav class="navbar justify-content-around">
  
  <%= button_to events_path, method: :get, class: "btn btn-primary fs-4 py-0 my-0" do %>
    <% 'Upcoming' %>
  <% end %>
  <%= button_to "#", method: :get, class: "btn btn-success fs-4 py-0 my-0" do %>
    <% 'Feed' %>
  <% end %>
</nav>
<hr/>