<h3 class="fs-4">  
  Confirmed
</h3>
<% people = event.confirmed_users %>
<% if people.any? %>
  <ul class="list-group">
    <% people.each do |person| %>
      <li class="list-group-item py-0 my-1 bg-transparent">
        <%= link_to user_path(person.id), class: "fs-4 text-decoration-none badge bg-warning text-dark" do %>
          <%= person.name %>
        <% end %>
      </li> 
    <% end %>
  </ul>
<% else %>
  <p>Nobody was invited to this event</p>
<% end %>