<div class="row justify-content-sm-start">
  <% events.each do |event| %>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 p-0">
      <%= render "event", event: event %>
    </div>
  <% end %>
</div>