<div class="row">
  <div class="col-md-9">
    <%= render 'event_invitation_sender', { event: @event, uninvited_users: @uninvited_users } if current_user.host?(@event) %>    
    <%= render 'shared/event_card', event: @event %>
  </div>
  <div class="col-md-3">
    <%= render 'event_invited_list', event: @event %>
  </div>
</div>




