<li class="nav-item mx-lg-2 bg-dark border border-warning rounded-3 text-warning px-1 mx-md-1">
  <a class="nav-link disabled text-warning fw-bolder" href="#" tabindex="-1" aria-disabled="true"><i
      class="bi bi-tv"></i> Watch!</a>
</li>